{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block body %}
<div class="container text-center h-100 w-100">
  <div class="row mt-4 p-4 bg-light">
    <h2>MEET OUR APPLICATION</h2>
  </div>
  <div class="d-flex flex-row my-3 flex-wrap justify-content-around">
    <div class="p-2 w-40">
      <div class="my-5">	&#9679;  &nbsp; Detect Text Using pytesseract of Tesseract. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class="my-5">	&#9679;  &nbsp; Extract Text Using pytesseract using Tesseract.</div>

    </div>
    <div class="" style="width: 2px; background-color: #99A3A4;"></div>
    <div class="p-2 w-40">
      <div class="my-5">&#9679;   &nbsp; Detection of extracted text using pyglot/langdetct.</div>
      <div class="my-5">&#9679;   &nbsp; Translate Extracted text into suitable langaunge.&nbsp;&nbsp;&nbsp;&nbsp;</div>

    </div>
  </div>

  <div class="row mt-4 mb-3 p-4 bg-light">
    <h2>MEET OUR TEAM</h2>
  </div>
  {% comment %} <div class="row p-4 mx-5">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ad dignissimos eveniet numquam reiciendis
      mollitia! Atque culpa laboriosam beatae facere ea, temporibus ipsa exercitationem numquam, alias libero illo
      dolorem nostrum! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi reiciendis id quidem.
      Vel reprehenderit quod non nesciunt delectus qui repudiandae.</p>
  </div> {% endcomment %}

</div>

<div class="container p-5 h-75 text-center mb-5" >
  <div class="row">
    <div class="col mx-3 py-3 ">
      <img class="shadow  mb-2 bg-white rounded" src="media/plotimage/Manish.jpeg"
        style="height:200px; width:250px" alt="">
      <h5 class="py-2 mt-2 mb-3">Manish Kumar</h5>
      <div class="row text-center mx-0">
        <div class="col px-0 ">
          <a class="btn btn-primary" style="background-color: #333333;" href="https://github.com/Manish84098"  target="_blank" rel="noopener noreferrer" role="button"><i
              class="fab fa-github"></i></a>

        </div>
        <div class="col px-0">

          <a class="btn btn-primary" style="background-color: #0082ca;" href="https://www.linkedin.com/in/manish-kumar7296/"  target="_blank" rel="noopener noreferrer" role="button"><i
              class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="col px-0">
          <a class="btn btn-primary" style="background-color: #ac2bac;" href="https://www.instagram.com/manish__745/"  target="_blank" rel="noopener noreferrer" role="button"><i
              class="fab fa-instagram"></i></a>
        </div>
        <div class="col px-0">
          <a class="btn btn-primary" style="background-color: #3b5998;" href="https://www.facebook.com/profile.php?id=100004691207306"  target="_blank" rel="noopener noreferrer" role="button"><i
              class="fab fa-facebook-f"></i></a>
        </div>


      </div>
    </div>
    
    <div class="col mx-3 py-3">
      <img class="shadow  mb-2 bg-white rounded" src="media/plotimage/Dhairya.jpg"
        style="height:200px; width:250px" alt="">
      <h5 class="py-2  mt-2 mb-3">Dhairya Deshmukh</h5>
      <div class="row text-center mx-0">
        <div class="col px-0 ">
          <a class="btn btn-primary" style="background-color: #333333;" href="https://github.com/Dhairya-75"  target="_blank" rel="noopener noreferrer" role="button" ><i
              class="fab fa-github"></i></a>

        </div>
        <div class="col px-0">

          <a class="btn btn-primary" style="background-color: #0082ca;" href="https://www.linkedin.com/in/dhairya-deshmukh-55273a1a5"  target="_blank" rel="noopener noreferrer" role="button"><i
              class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="col px-0">
          <a class="btn btn-primary" style="background-color: #ac2bac;" href="https://www.instagram.com/dhairya_75" target="_blank" rel="noopener noreferrer"  role="button"><i
              class="fab fa-instagram"></i></a>
        </div>
        <div class="col px-0">
          <a class="btn btn-primary" style="background-color: #3b5998;" href="https://www.facebook.com/dhairya.deshmukh.7475"  target="_blank" rel="noopener noreferrer" role="button"><i
              class="fab fa-facebook-f"></i></a>
        </div>


      </div>
    </div>
    <div class="col mx-3 py-3">
      <img class="shadow  mb-2 bg-white rounded" src="media/plotimage/Aishwarya.jpg"
        style="height:200px; width:250px" alt="">
      <h5 class="py-2  mt-2 mb-3">Aishwarya Deshmukh</h5>
      <div class="row text-center mx-0">
        <div class="col px-0 ">
          <a class="btn btn-primary" style="background-color: #333333;" href="https://github.com/sweety-aishwarya"  target="_blank" rel="noopener noreferrer" role="button"><i
              class="fab fa-github"></i></a>

        </div>
        <div class="col px-0">

          <a class="btn btn-primary" style="background-color: #0082ca;" href="https://www.linkedin.com/in/aishwarya-vijay-deshmukh/"  target="_blank" rel="noopener noreferrer" role="button"><i
              class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="col px-0">
          <a class="btn btn-primary" style="background-color: #ac2bac;" href="https://www.instagram.com/miss.rupunzel/"   target="_blank" rel="noopener noreferrer" role="button"><i
              class="fab fa-instagram"></i></a>
        </div>
        <div class="col px-0">
          <a class="btn btn-primary" style="background-color: #3b5998;" href="https://www.facebook.com/sweetyaishwaryadeshmukh"   target="_blank" rel="noopener noreferrer" role="button"><i
              class="fab fa-facebook-f"></i></a>
        </div>


      </div>
    </div>
    <div class="col mx-3 py-3">
      <img class="shadow  mb-2 bg-white rounded" src="media/plotimage/SUMIT.jpg"
        style="height:200px; width:250px" alt="">
      <h5 class="py-2  mt-2 mb-3">Sumit R Mali</h5>
      <div class="row text-center mx-0">
        <div class="col px-0 ">
          <a class="btn btn-primary" style="background-color: #333333;" href="https://github.com/malisumit86"  target="_blank" rel="noopener noreferrer" role="button"><i
              class="fab fa-github"></i></a>

        </div>
        <div class="col px-0">

          <a class="btn btn-primary" style="background-color: #0082ca;" href="https://www.linkedin.com/in/sumit-mali-5963341a8"  target="_blank" rel="noopener noreferrer"  role="button"><i
              class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="col px-0">
          <a class="btn btn-primary" style="background-color: #ac2bac;" href="https://www.instagram.com/mali.ssss18__vlk/"  target="_blank" rel="noopener noreferrer"  role="button"><i
              class="fab fa-instagram"></i></a>
        </div>
        <div class="col px-0">
          <a class="btn btn-primary" style="background-color: #3b5998;" href="#"  role="button"><i
              class="fab fa-facebook-f"></i></a>
        </div>


      </div>
    </div>
  </div>

</div>
<!-- Footer -->
<footer class="text-center text-lg-start text-muted " style="background-color: #CACFD2;">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset text-decoration-none">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset text-decoration-none">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset text-decoration-none">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset text-decoration-none">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset text-decoration-none">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/malisumit86/madstranslations" class="me-4 text-reset text-decoration-none">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>SKNCOE | MAD'S Translation
          </h6>
          <p>
            Welcome, This is our BE final year group project. Where we have created project name "MADS Translation". Which takes image as input and our ML module extract text and translate it to suitable language. It works over 20 language. <br><br>
            <strong>Teacher Guide</strong>
            <br>
            - (Prof) Mrs. M. P. Desai
            <br>
            - (Prof) Mrs. Neha Chankhore
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Services
          </h6>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Upload/Click Image</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Upload Pdf</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Text Translation</a>
          </p>
         
        </div>
        <!-- Grid column -->



        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Location
          </h6>
          <p><i class="fas fa-home me-3"></i>SKNCOE Vadgaon Pune</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3 " style="background-color: rgba(0, 0, 0, 0.2);">
    © 
    <span id="copyrightYear"></span>
    <a class="text-dark text-decoration-none" href="https://mdbootstrap.com/"><strong>MAD'S Translation</strong></a>
<script>
let year = new Date().getFullYear();
document.getElementById("copyrightYear").innerHTML = year + " Copyright";
</script>
  <!-- Copyright -->
</footer>
<!-- Footer -->

{% endblock body %}
