{% extends 'base.html' %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

{% block title %}Home{% endblock title %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style>
    .not-visible{
        display: none
    }
    .waviy {
        position: relative;
      /*   -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2)); */
        font-size: 40px;
      }
      .waviy span {
        font-family: 'Alfa Slab One', cursive;
        position: relative;
        display: inline-block;
      /*   color: #fff; */
        text-transform: uppercase;
        animation: waviy 1s infinite;
        animation-delay: calc(.1s * var(--i));
        
      }
      @keyframes waviy {
        0%,40%,100% {
          transform: translateY(0)
        }
        20% {
          transform: translateY(-20px)
        }
      }
</style>
<script>

$(document).ready(function(){
    $("#submit_btn").click(function(){
      $("#spinner-box").removeClass("not-visible");
      $("#main-div").addClass("not-visible");
    });
  });


    if($('#extract_text').text().length > 0){
        $("#main-div").removeClass("not-visible");
        $('#spinner-box').remove();

    }    

</script>

<div id="spinner-box" class ="text-center not-visible" style="position: absolute;
top: 50%;
left: 50%;
-ms-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);"> 
<div class="waviy">
    <span style="--i:1">T</span>
    <span style="--i:2">R</span>
    <span style="--i:3">A</span>
    <span style="--i:4">N</span>
    <span style="--i:5">S</span>
    <span style="--i:6">L</span>
    <span style="--i:7">A</span>
    <span style="--i:8">T</span>
    <span style="--i:9">I</span>
    <span style="--i:10">N</span>
    <span style="--i:11">G</span>
    <span style="--i:12">.</span>
    <span style="--i:13">.</span>
    <span style="--i:14">.</span>
</div>
</div>
<div id="main-div">
<div class="d-flex flex-row h-auto my-5 py-5  flex-wrap justify-content-center "
    style="min-width:200px; background-color:#E5E7E9;">
    <div class="py-2 px-5 " style="width: 720px; background-color:#A569BD;">
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="header" class="text-center my-2 p-2">
                <h4 style="top:20px">Upload Image</h4>
            </div>
            <div id="form" class="py-2" style="margin: auto; display: block;width: 210px">
                {{form}}
            </div>
            <br>
            <div id="submit" style="--w:200px;
                --n:3;
                display:grid;
                grid-template-columns:repeat(auto-fit,minmax(clamp(100%/(var(--n) + 1) + 0.1%,var(--w),100%),1fr));">
                <div class="d-flex flex-column align-items-center">
                    <select id="inputLang" name="lang_ip" class="form-control my-2 mx-0 " style="width: 220px;"
                        required>
                        <option value="" selected disabled>Choose language</option>
                        <option value="Auto Detect"> <i class="fa fa-magic" aria-hidden="true"></i> Auto Detect</option>
                        {% comment %} <option value="Assamese">Assamese</option> {% endcomment %}
                        {% comment %} <option value="Jerman">Jerman</option> {% endcomment %}
                        {% comment %} <option value="Sanskrit">Sanskrit</option> {% endcomment %}
                        <option value="Bengali">Bengali</option>
                        <option value="English">English</option>
                        <option value="French">French</option>
                        <option value="Greek">Greek</option>
                        <option value="Hindi">Hindi</option>
                        <option value="Gujarati">Gujarati</option>
                        <option value="Italian">Italian</option>
                        <option value="Kannada">Kannada</option>
                        <option value="Latin">Latin</option>
                        <option value="Marathi">Marathi</option>
                        <option value="Nepali">Nepali</option>
                        <option value="Portuguese">Portuguese</option>
                        <option value="Punjabi">Punjabi</option>
                        <option value="Russian">Russian</option>
                        <option value="Spanish">Spanish</option>
                        <option value="Tamil">Tamil</option>
                        <option value="Telugu">Telugu</option>
                    </select>
                </div>
                <div class="d-flex flex-column align-items-center text-center">
                    <h4 style="margin-top: 10px;">To</h4>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <select id="inputLang" name="trans_ip" class="form-control my-2 mx-0 " style="width: 220px;"
                        required>
                        <option value="" selected disabled>Choose language</option>
                        {% comment %} <option value="Assamese">Assamese</option> {% endcomment %}
                        {% comment %} <option value="Jerman">Jerman</option> {% endcomment %}
                        {% comment %} <option value="Sanskrit">Sanskrit</option> {% endcomment %}
                        <option value="Bengali">Bengali</option>
                        <option value="English">English</option>
                        <option value="French">French</option>
                        <option value="Greek">Greek</option>
                        <option value="Hindi">Hindi</option>
                        <option value="Gujarati">Gujarati</option>
                        <option value="Italian">Italian</option>
                        <option value="Kannada">Kannada</option>
                        <option value="Latin">Latin</option>
                        <option value="Marathi">Marathi</option>
                        <option value="Nepali">Nepali</option>
                        <option value="Portuguese">Portuguese</option>
                        <option value="Punjabi">Punjabi</option>
                        <option value="Russian">Russian</option>
                        <option value="Spanish">Spanish</option>
                        <option value="Tamil">Tamil</option>
                        <option value="Telugu">Telugu</option>
                    </select>
                </div>
            </div>
            <br>
            <div id="submit_btn" class="text-center my-2">
                <button type="submit" class="btn text-light"
                    style="width:150px; background-color: #7B241C;">Submit</button>
            </div>
            <div id="img_uploaded my-3 py-2" class="text-center" style="max-height:450px;">
                <img src={{img.photo.url}} class="img-fluid my-5" style="max-height :400px;border-radius:20px;"
                    alt="Not Yet Uploaded">
            </div>
        </form>
    </div>

    <div class="p-2 px-3 " style="width: 720px; background-color: #5DADE2  ;">
        <div id="extract_header">
            <h4 class="mt-1 mb-3 p-2 " style="background-color:#F7F9F9 ;">Extracted <span style="color: #5B2C6F ;">
                    {{From_lang}}
                </span> Text from Image </h4>
        </div>
        <div id="extract_text" style="max-height:300px; overflow:auto">
            <p class="text-black">{{img2char}}</p>

        </div>
        <div id="trans_header">
            <h4 class="mt-1 mb-3 p-2 " style="background-color:#F7F9F9 ;">Translated <span style="color: #5B2C6F ;">
                    {{To_lang}}
                </span> Text from Image </h4>
        </div>
        <div id="trans_text" class="scrollbar scrollbar-primary" style="max-height:300px; overflow:auto">
            <div class="force-overflow">
                <p>{{translated_text}}</p>

            </div>

        </div>

    </div>
</div>
<div class="conatiner text-center p-4">

    <h4>Detected Text </h4>
</div>
<div class="container p-5 h-50 text-center mb-5 " style="background-color: #E5E7E9;">
    <div class="d-flex justify-content-around flex-wrap">
        <div class="my-3">
            <img src={{plot_path}} style="max-height:400px;" alt="{{translated_text}}" class="img-fluid">
        </div>
    </div>

</div>

<footer class="text-center text-white" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container pt-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>

            <!-- Google -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a>

            <!-- Instagram -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
            <!-- Github -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://github.com/malisumit86/madstranslations" role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center text-dark p-3 " style="background-color: rgba(0, 0, 0, 0.2);">
        ©
        <span id="copyrightYear"> </span>
        <a class="text-dark text-decoration-none" href="https://mdbootstrap.com/"><strong>MAD'S Translation</strong></a>
        <script>
            let year = new Date().getFullYear();
            document.getElementById("copyrightYear").innerHTML = year + " Copyright";
        </script>

    </div>
    <!-- Copyright -->
</footer>
</div>




{% endblock body %}