{% extends 'base.html' %}



{% block title %}Text{% endblock title %}
{% block body %}
<div class="d-flex flex-row h-auto my-5 py-5  flex-wrap justify-content-center " style="min-width:200px; background-color:#E5E7E9;;">
    <div class="py-2 px-5 " style="width: 720px; background-color:#A569BD;">
        <form  method="post" action="/textupload" enctype="multipart/form-data" >
            {% csrf_token %}
                <div id="header" class="text-center my-2 p-2">
                    <h4 style="top:20px">Text Translation</h4>
                </div>
                <div id="text_area" class="py-2">
                    <textarea class="form-control" id="textAreaExample" name="textarea_input" rows="8" placeholder="Place Your Text Here" style="resize:none" required></textarea>
                </div>
                <div id="submit" class="d-flex flex-row py-2 justify-content-between flex-wrap">
                    <div class="d-flex flex-column">
                        <select id="inputLang" name="lang_ip" class="form-control my-2 mx-0 " style="width: 220px;" required>
                            <option value="" selected>Choose language</option>
                            <option value="Auto Detect">Auto Detect</option>
                            <option value="Marathi">Marathi</option>
                            <option value="English">English</option>
                            <option value="French">French</option>
                            <option value="Hindi">Hindi</option>
                            <option value="Spanish">Spanish</option>
                        </select>
                    </div>
                    <div class="d-flex flex-column align-items-center" style="width:50px;" >
                        <h4>To</h4>
                    </div>
                    <div class="d-flex flex-column">
                        <select id="inputLang" name="trans_ip" class="form-control my-2 mx-0 "
                        style="width: 220px;" required>
                        <option value="" selected>Choose language</option>
                        <option value="Marathi">Marathi</option>
                        <option value="English">English</option>
                        <option value="French">French</option>
                        <option value="Hindi">Hindi</option>
                        <option value="Spanish">Spanish</option>
                    </select>
                    </div>
                </div>

                <div id="submit_btn" class="text-center my-2">
                    <button type="submit" class="btn text-light" style="width:150px; background-color: #7B241C;">Translate</button>
                </div>
                {% comment %} <div id="img_uploaded my-3 py-2" class="text-center" style="max-height:450px;">
                     <img  src={{img.photo.url}} class="img-fluid my-5" style="max-height :400px;border-radius:20px;" alt="Not Yet Uploaded">
                </div> {% endcomment %}
        </form>
    </div>

    <div class="p-2 px-3 " style="width: 720px; background-color: #5DADE2  ;">
        <div id="extract_header">
            <h4 class="mt-1 mb-3 p-2 " style="background-color:#F7F9F9 ;">Extracted Text [Auto Detect]</h4>
        </div>
        <div id="extract_text" style="max-height:300px; overflow:auto">
            <p class="text-black">{{text_area_ip}}</p>
   
        </div>
        <div id="trans_header">
            <h4 class="mt-1 mb-3 p-2 " style="background-color:#F7F9F9 ;">Translated Text from Image</h4>
        </div>
        <div id="trans_text" class="scrollbar scrollbar-primary"  style="max-height:300px; overflow:auto">
            <div class="force-overflow">
                <p>{{translated_text}}</p>

            </div>
            
        </div>

    </div>
</div>
{% endblock body %}